<style>
  body{
  background: #d1d5db;
  }
  .height{
  padding-top: 120px;
  padding-bottom: 30px;
  }
  .form{
  position: relative;
  }
  .form .fa-search{
  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;
  }
  .form span{
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
  }
  .left-pan{
  padding-left: 7px;
  }
  .left-pan i{
  padding-left: 10px;
  }
  .form-input{
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
  }
  .form-input:focus{
  box-shadow: none;
  border:none;
  }
</style>


{% load static %}


<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">
      <img src=" {%static '/images/logo-play.jpg' %}" style="width:200px;height: 100px;align-items: center;" class="img-fluid">


      <div class="col-md-6">

        <form class="d-flex me-2" role="search" method="GET" action="{% url "search" %}">
          <input name="query" class="form-control me-2" type="search" placeholder="Search any song you wanted.." aria-label="Search" >
          <button class="btn btn-outline-success bg-success text-white" type="submit"><i class="fa fa-search"></i></button>
         </form>

      </div>
      
    </div>
  </div>    
